<?xml version="1.0"?>

<model>
  <name>HAC Red Tape</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>ShotaAk</name>
    <email>macakasit@gmail.com</email>
  </author>

  <description>
    90 x 1.5 cm red tape for Humanoid Autonomous Challenge.
  </description>
</model>