<?xml version="1.0"?>

<model>
  <name>HAC U Panel</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>ShotaAk</name>
    <email>macakasit@gmail.com</email>
  </author>

  <description>
    900 x 900 x 35 u panel for Humanoid Autonomous Challenge.
  </description>
</model>